html{
    scroll-behavior: smooth;
}

*{
  font-family: Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
}
body{
	background-image:url("fond.jpg");
		background-size:auto 380%;
	background-position:center top;
	color:white;
	
	}
	
a{
    text-decoration: none;
    color: white;
}
	h1{
		margin-top:10%;
		text-align:center;
		  font-family: 'Nunito', sans-serif;
  font-size: 300%;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
	}
	p{
		text-align:center;
		  font-family: 'Nunito', sans-serif;
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  padding-bottom:5%;
	}
.grid{display:block;
	margin:5%;}
.wrapper {
	
  display: grid;

  width: 100%;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows:150% 150% 150% 150%;
  grid-gap: 15% 5%;
  grid-auto-rows: 300%;
  
}

.one{
  grid-column: 1;
  grid-row: 1;
}
.two{
  grid-column: 2;
  grid-row: 1;
}
.three{
  grid-column: 3;
  grid-row: 1;
}
.four{
  grid-column: 1;
  grid-row: 2;
}
.five{
  grid-column: 2;
  grid-row: 2;
}
.six{
  grid-column: 3;
  grid-row: 2;
}
.seven{
  grid-column: 3;
  grid-row: 3;
}
.ten{
	grid-column: 1/4;
  grid-row: 4;
}
.artiste1,.artiste2 ,.artiste3,.artiste4,.artiste5,.artiste6,.artiste7,.artiste8,.artiste9,.artiste10{
  min-width: 100%;
  height: 80%;
  font-family: 'Nunito', sans-serif;
  font-size: 170%;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;

  

background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);

  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(00,00,00,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 0px;
  }
  .artiste1{background-image:url("artiste1.jpg");
background-position:center;
background-size: 100%;
background-color:white;
background-repeat:no-repeat;
  text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}

#stp::before {
content: '';
  border-radius: 1000px;
  min-width: calc(80% + 30%);
  min-height: calc(30% + 100%);
  border: 6px solid #FFFFFF;
  box-shadow: 0 0 60px rgba(100,100,100,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.artiste1:hover, #stp:focus {
  color: #0f1f41;
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;
  transform: translateY(-6px);
}

#stp:hover::before, #stp:focus::before {
  opacity: 1;
}



#stp:hover::after, #stp:focus::after {
  animation: none;
  display: none;
}




.artiste2:hover, #stp:focus {
  color: #000000;
  transform: translateY(-6px);
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;

}
.artiste2 {
background-image:url("artiste2.jfif");
background-position:center;
background-size: auto 120%;
background-repeat:no-repeat;
  text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}

.artiste3:hover, .button:focus {
  color: #000000;
  transform: translateY(-6px);
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;
}
.artiste3 {
background-image:url("artiste3.jpeg");
background-position:center;
background-size: auto 110%;
background-repeat:no-repeat;
background-color:black;
  text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}
.artiste4:hover, .button:focus {
  color: #000000;
  transform: translateY(-6px);
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;

}
.artiste4 {
background-image:url("artiste4.jpg");
background-position:center;
background-size: auto 100%;
background-repeat:repeat;

  text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}

.artiste5:hover, .button:focus {
  color: #000000;
  transform: translateY(-6px);
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;

}
.artiste5{
	background-image:url("artiste5.jfif");
background-position:center;
background-size: auto 100%;
background-color:rgba(0,0,0,80%);
background-repeat:no-repeat;
  text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;

}
.artiste6:hover, .button:focus {
  color: #000000;
  transform: translateY(-6px);
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;

}
.artiste6{
	background-color:#b11cfb;
	background-image:url("artiste6.jpg");
background-position:center;
background-size: 110% auto;

background-repeat:no-repeat;
}
.artiste7{

	background-image:url("artiste7.jfif");
background-position:center right 10%;
background-size: auto 130%;
background-color:rgba(0,0,0,80%);
background-repeat:no-repeat;

}
.artiste7:hover, .button:focus {
  color: #000000;
  transform: translateY(-6px);
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;

}
.artiste8:hover, .button:focus {
  color: #000000;
  transform: translateY(-6px);
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;

}
.artiste8{
	background-image:url("artiste8.jpg");
background-position:center;
background-size: auto 120%;
background-color:#ebebec;
background-repeat:no-repeat;
}
.artiste9:hover, .button:focus {
  color: #000000;
  transform: translateY(-6px);
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;

}
.artiste9{
	background-image:url("artiste9.jpg");
background-position:center;
background-size: auto 120%;
background-color:#8dab29;
background-repeat:no-repeat;
}
.artiste10:hover, .button:focus {
  color: #000000;
  transform: translateY(-6px);
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;

}
.artiste10{
	background-image:url("artiste11.jpg");
background-position:center;
background-size: 80% auto;
background-color:#000000;
background-repeat:no-repeat;

}

button:active{
background:white radial-gradient(circle, transparent 0%, black 60%) center/15000%;
background-size: 100%;
transition:  background 2s;
}



.dropdown{
		top:0px;
	position:relative;
	display :inline-block;

}

.test{
	position:absolute;

}
#horaires{
	position:absolute;
	z-index:10;

    justify-content: center;
    background-color: rgb(0, 0, 0,1);
	left:0px;
	width:20%;
	min-width:200px;
	font-size: 50%;
	margin-top:0px;
	top:40px;
	padding:20px;
}
.arrete{
  border: 1px solid #FFFFFF;
	top:0px;
	color:white;
	width:335.9%;
	height:40px;
	   background-color: rgb(0, 0, 0,1);
}


.nav{
		z-index:11;
    display: flex;
    background-color: rgb(0, 0, 0, 0.6);

    position: sticky;

    top: 0px;
    width: 100%;
    height: 60px; 
right:0px;
left:0px;
    align-items: center;
		    justify-content: center;

}

.nav i{
    position: fixed;
}


.nav li a{
    color: white;
}

.nav-items{
    position: relative;
    display: inline-block;


    font-size: 13px;

    padding: 12px;
    margin: 10px;
}

.nav-items:hover{
    font-weight: bolder;
}

.nav-items:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .3s ease-in-out;
}

.nav-items:hover:after {
    width: 100%;
    font-weight: bolder;
}

#icon{
    display: none;
    position: fixed;
    top: 0;
    right: 20px; 
    color: white;
    cursor: pointer;
}

#menu{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 2;
    padding-top: 10%;
}

.menu-mobile{
    color:rgb(255, 255, 255);
}

.nav-items-mobile{
    padding-bottom: 40px;
}

#logoTexte{
    width: 40%;
}

@media screen and (max-width: 985px) {
    .nav {
        display: none;
    }

    #icon{
        display: block;
    }
}
